@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default, corporate, cupcake, nord,
    dark --prefersdark, coffee, dim, luxury;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403F3F;
  --color-secondary: #ABD373;
  --color-base-200: #F3F3F3;
  --color-base-300: #E7E7E7;
  --color-accent: #706F6F;
}

.root-menu-items a.active {
   /* @apply btn btn-active font-semibold */
   font-weight: bold;
  background-color: #abd373;
  color: white;
  padding-left: 36px;
  padding-right:36px;
}

.home-categ-list.active {
  @apply btn-active
}

/* Custom color for the next and prev buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #ABD373; /* Change to your desired color */
  font-size: 24px; /* Adjust font size */
  background: #F3F3F3; /* Optional: background color */
  border-radius: 50%; /* Optional: make them circular */
  padding: 10px; /* Optional: adjust the padding */
}

/* Optional: Hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ff4500; /* Hover color */
  background: rgba(255, 255, 255, 0.8);
}