@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default, corporate, cupcake, nord,
    dark --prefersdark, coffee, dim, luxury;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403F3F;
  --color-secondary: #abd373;
  --color-base-200: #F3F3F3;
  --color-base-300: #E7E7E7;
  --color-accent: #706F6F;
}

.root-menu-items a.active {
   /* @apply btn btn-active font-semibold */
   font-weight: bold;
  background-color: #abd373;
  color: white;
  padding-left: 36px;
  padding-right:36px;
}